[submodule "external/folly"]
	path = external/folly
	url = https://github.com/facebook/folly.git
[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "external/robin-map"]
	path = external/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "external/wyhash"]
	path = external/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
