[submodule "external/folly"]
	path = external/folly
	url = https://github.com/facebook/folly.git
[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "external/wyhash"]
	path = external/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
[submodule "external/xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "external/robin-hood-hashing"]
	path = external/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "external/--force"]
	path = external/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
